.app-download{
    margin: auto auto;
    margin-top: 100px;
    font-size: max(3vw, 20px);
    text-align: center;
    font-weight: 500;
}

.app-download p{
    color:black;
}

.app-download-platforms{
    display: flex;
    justify-content: center;
    gap: max(2vw, 10px);
    margin-top: 40px;;
}

.app-download-platforms img{
    width: max(30vw,120px);
    max-width: 180px;
    transition: 0.5s;
    cursor: pointer;
}

.app-download-platforms img:hover{
   transform: scale(1.05);
   
}
.mobile-view {
    margin-top: 40px;
    text-align: center;
}

.mobile-view img {
    width: 100%;
    max-width: 500px; /* Adjust as needed */
    border-radius: 15px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.mobile-view img:hover {
    transform: scale(1.05);
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); */
}

/* Responsive Design */
@media (max-width: 768px) {
    .app-download {
        font-size: 18px; /* Adjust as needed */
    }

   

    .mobile-view img {
        max-width: 500px;
    }
}
